<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Booking Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #007bff;
        }
        p {
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Apartment Booking Confirmation</h1>
        <p>Hello {{ user.username }},</p>
        <p>You have successfully booked the apartment {{ apartment.name }}. Here are some details:</p>
        <ul>
            <li>Apartment Name: {{ apartment.name }}</li>
            <li>Location: {{ apartment.location }}</li>
            <li>Rent Amount: Ksh.{{ apartment.price_per_month}}</li>
            <li>Payment Due Date: 5th of every month</li>
        </ul>
        <p>Please ensure that you pay the rent on time to avoid any inconvenience.</p>
        <p>Thank you for choosing our apartment!</p>
    </div>
</body>
</html>
